{* This is the welcome page, you can delete it *}

{block content}
<section id="portfolio">
    <div class="container">
         <div class="row">
            <div class="col-lg-12 text-center">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                       <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{link Supervisor:}">{$_username}</a>
                        </div>
                                                
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Jídelní lístek<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{link Menu:new}">Nový jídelní lístek</a></li>
                                        <li><a href="{link Menu:}">Seznam jídelních lístků</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Místnost<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{link Room:new}">Přidat novou místnost</a></li>
                                        <li><a href="{link Room:}">Seznam místností</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Stůl<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{link Table:new}">Přidat nový stůl</a></li>
                                        <li><a href="{link Table:}">Seznam stolů</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Zboží<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{link Goods:new}">Přidat nové zboží</a></li>
                                        <li><a href="{link Goods:}">Seznam zboží</a></li>
                                        <li><a href="{link Group:}">Seznam skupin zboží</a></li>
                                    </ul>
                                </li>
                            </ul>
                        
                            <ul class="nav navbar-nav navbar-right">
                                {if $_user->isInRole('Vedouci')== TRUE or $_user->isInRole('Majitel')}
    
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Pohled<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{plink Service:}">Obsluha</a></li>
                                        {if $_user->isInRole('Majitel')}
                                        <li><a href="{plink Owner:}">Majitel</a></li>
                                        {/if}
                                    </ul>
                                </li>
                                {/if}
                                <li><a href="{plink Sign:out}" class="btn btn-danger">
                                         Odhlášení
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                  </div>
                <div class="row col-lg-4"></div>            
                <div class="row col-lg-6"><h2>Vytvořit položku pro: {$jl}</h2></div>    
                <div class="row col-lg-5"></div>      
                <div class="row col-lg-3">                                   
                {control newItemForm}
                <br></br>
                <a n:href="Menu:" class="btn btn-primary btn-sm">← Zpět na seznam objednávek</a>
            </div>
         </div>
                </nav>
            </div>
        </div>                             
    </div>
</section>


{/block}

{block scripts}
{include parent}
<script src="https://files.nette.org/sandbox/jush.js"></script>
<script>
	jush.create_links = false;
	jush.highlight_tag('code');
	$('code.jush').each(function(){ $(this).html($(this).html().replace(/\x7B[/$\w].*?\}/g, '<span class="jush-latte">$&</span>')) });

	$('a[href^=#]').click(function(){
		$('html,body').animate({ scrollTop: $($(this).attr('href')).show().offset().top - 5 }, 'fast');
		return false;
	});
   function potvrzeni(){
      okno=window.confirm("Opravdu chcete položku smazat?");
      if(okno) window.alert("(c) Šimon Grimmich");
   }
</script>
{/block}


{block head}
    <link href="{$basePath}/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{$basePath}/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="{$basePath}/assets/css/custom.css" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{$basePath}/assets/js/bootstrap.min.js"></script>
    <script src="{$basePath}/assets/js/custom.js"></script>
{/block}
